body{
 font-family: "Helvetica Neue", Helvetica, sans-serif; 
}

h1 { 
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
}

.sidebar-nav {
  margin-left:100px;
  margin-top: 115px;
}

.sidebar-nav label{
  font-weight: normal;
}

.sidebar-nav .nav-header{
  font-weight: bold;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}


/*canvas*/
#canvas {
  border: solid #eee;
}

#slider{
  width:150px;
  float:right;
  margin-right:60px;
  margin-top:5px;
}

#sliderWrapper{
  margin-top:10px;
}

#levelOfDetail{
  font-size: 16px;
  font-weight: 300;
  vertical-align:top;
}