h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 70%;
  color: black;
}

#yuni{
	width:360px;
	margin-left:100px;
	margin-top:100px;
}

.main{
	margin-top:100px;
}

.main li a{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 90%;
  color: black;	
  text-decoration:none;
}

.main ul{
	list-style: none;
	margin-left:-60px;
}

#menu{
	visibility: hidden;
}